 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

Custom Styles


// #body_container{
  // background-color: black;
  header {
    @include outer-container;
    background-color: black;
    #header_container {
      @include span-columns(10);
      @include shift(1);
      background-color: green;
      height: 200px;
    }
  }

  #body_container {
    @include outer-container;
    background-color: black;
    #hero-unit {
      @include span-columns(10);
      @include shift(1);
      background-color: pink; 
      text-align: center;
      ul {
        list-style-type: none;
        .videos {
          display: inline-block;
        }
        .video_info {
          @include span-columns(10);
          height: 200px;
          border: solid 1px red;
          display: inline-block;
          float: none;
        }
      }
    }
  }

  footer {
    @include outer-container;
    background-color: black;
    #footer_container {
      @include span-columns(10);
      @include shift(1);
      background-color: blue;
      height: 200px;
    }
  }
// }